// color
$color-red: #d0021b;
$color-orange: #f5a623;
$color-blue: #4a90e2;
$color-green: #7ed321;
$color-gray-light1: #f2f2f2;
$color-gray-light2: #e1e1e1;
$color-gray-light3: #c8c8c8;
$color-gray-dark: #757575;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-gray: #f2f2f2;

// font size
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-subtitle2: 16px;
$font-size-tableInformation: 14px;
$font-size-remark: 16px;
$font-size-placeholder: 16px;

// font family
$font-family-title: "Helvetica-Medium;";
$font-family-subtitle: "Helvetica-Medium;";
$font-family-subtitle2: "Helvetica-Medium";
$font-family-paragraph: "Helvetica-Regular";
$font-family-remark: "Helvetica-Regular";
$font-family-placeholder: "Helvetica-Regular";

// breakpoint
$mq-pad: 768px;
$mq-mobile: 767px;

.green {
  color: $color-green;
}

.red {
  color: $color-red;
}

.blue {
  color: $color-blue;
}

.gray {
  color: $color-gray-dark;
}

.bg-green {
  color: $color-white;
  background: $color-green;
}

.bg-red {
  color: $color-white;
  background: $color-red;
}

.bg-blue {
  color: $color-white;
  background: $color-blue;
}

.bg-gray {
  color: $color-white;
  background: $color-gray-dark;
}
